/* =====================================================================
	NAVBAR STYLING ---> file home-navbar.php
===================================================================== */
.navbar {background-color: #e4eaf1;transition: 0.5s;}
.navbar-brand {margin-right: 3rem;}
.navbar-brand .logo {height: 60px;}
.navbar .user-info {position: absolute;right: 15%;top: 22px;}
.navbar .user-info h5 {margin-bottom: 0;}
.navbar .toggle {position: relative;width: 40px;height: 40px;transition: 0.5s;}
.navbar .toggle span {width: 60%;height: 4px;position: absolute;transition: 0.5s;background: #262626;transform: translateX(-50%);}
.navbar .toggle span:nth-child(1){top: 26%;left: 50%;}
.navbar .toggle span:nth-child(2){bottom: 26%;left: 50%;}
.navbar .toggle.active span:nth-child(1){top: 44%;left: 50%;width: 65%;}
.navbar .toggle.active span:nth-child(2){bottom: 44%;left: 50%;width: 65%;}
.navbar .toggle.active span:nth-child(1){transform: translate(-50%, -50%) rotate(138deg);}
.navbar .toggle.active span:nth-child(2){transform: translate(-50%, -50%) rotate(-138deg);}
.navbar .toggle.active span {background: #fff;}
.navbar .toggle:before {content: '';position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 60%;height: 4px;background: #262626;transition: 0.5s;}
.navbar .toggle.active:before {width: 100%;height: 100%;}
@media (min-width: 767px){
	.navbar .user-info{right: 4rem;}
}
@media (min-width: 992px){
	.navbar .user-info{right: 1.5rem;}
}